.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 New BRICE!
			.panel-body
				%strong.center Current Image
				= render 'form'
				= image_tag @pin.image.url()

